/* 
    COLORS
    Blue: #195de6
    Green: #26d076
*/
.main{
    background-color: #f2f4fc;
    height: 50px;
    width: 100%;
    position:fixed;
    z-index: 100;
    box-shadow: 5px 2px 20px black;   
}

.navLogo{
    float: left;
    height: 80px;
    margin-top: -9px;
    margin-left: -5%;
}

.navbarLogo{
    height: 155px;
    float: left;
    margin-top: -27px;
    margin-left: -5%;
    /* margin-right: -40px; */
    object-fit: contain;
}

.navTitle {
    font-size: 30px;
    font-family: Gloock; /*ntr, days one, antic, fahkwang, galdeano */
    margin-top: 8px;
    margin-left: -5%;
    float: left;
}
.ul {
    list-style: none
}
/* 
.content {
    padding-top: 0px;
} */

.button {
    font-size: 50px;
    border: none;
    background-color: white;
    color: black;
    margin-right: 40px;
    font-family: 'Playfair Display', serif;
    /* border-top: 2px solid black; */
    border-bottom: 2px solid black;
    margin-bottom: 50px;
}

.buttonList {
    float: right;
    margin-right: 3%;
    margin-top: 20px;
}

.button:hover {
    border-bottom-style: solid;
    border-color: #26d076;
}


/* HOME */

.homeBlock{
    background-color: #f2f4fc;
    /* padding-bottom: 250px; */
    overflow-x: hidden;
}

.homeImg {
    /* Have the sidebar toggle under picture, move image to the top of the screen */
    margin-top: 50px;
    width: 100%;
}

.homeImg2{
    /* Center This in the middle of screen */
    /* object-fit: contain; */
    width: 90%;
    margin-left: 5%;
    /* margin-top: -60px; */
    /* margin-right: 50px; */
    box-shadow: 10px 10px 5px lightgray;
}

.homeMission {
    text-align: left;
    /* Align text in center of screen */
    margin-left: 5%;
    /* float:none; */
    width: 90%;
    font-size: 29px;
    font-family: 'Playfair Display', serif;
}

.homeTitle {
    /* Center this also */
    /* margin-left: 7%; */
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color:#195de6;
    margin-top: 30px;
}

 .homeMethodImg {
    width: 90%;
    margin-left: 5%;
    box-shadow: 10px 10px 5px lightgray;
    /* position: relative; */
    z-index: 1;
}

.homeMethodSpan {
    width: 100%;
    background-color: #fcf3f2;
    margin-bottom: 50px;
    margin-top: 0px;
    /* margin-left: 25%; */
}
.homeMethodTitle {
    color: #195de6;
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
    font-family: 'Playfair Display', serif;  
}
.homeMethodCon{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -20px;
}
.homeMethodBar{
    height: 2px; /* Set the height of the bar */
    background-color: #26d076;
}
.homeMethodCon2{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -20px;
}
.homeMethod {
    /* CENTER!!! */
    color: black;
    text-align: left;
    margin-top: 50px;
    width: 90%;
    margin-left: 5%;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}

.homeMethod2 {
    /* Center this */
    color: black;
    text-align: left;
    margin-top: 50px;
    width: 90%;
    margin-left: 5%;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}

/* ABOUT US */

.aboutBlock{
    background-color: #f2f4fc;
    padding-bottom: 50px;
    padding-top: 40px;
    /* margin-top: 50px; */
}
.aboutTitle{
    /* margin-left: 3%; */
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color:#195de6;
    margin-top: 30px;
}

.aboutBody{
    /* Center, center, center */
    text-align:left;
    word-spacing: 5px;
    text-justify: distribute;
    width: 90%;
    margin-left: 5%;
    font-size: 29px;
    font-family: 'Playfair Display', serif;
}

.aboutBody2{
    /* Center, center, center */
    text-align:left;
    word-spacing: 5px;
    text-justify: distribute;
    width: 85%;
    margin-left: 7.5%;
    font-size: 29px;
    font-family: 'Playfair Display', serif;
}

.aboutTitle2{
    /* center... */
    /* margin-left: 3%; */
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    text-align: center;
    color:#195de6;
    margin-top: 50px;
}

.aboutTitle3{
    /* Center! */
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color:#2f62c9;
    margin-top: 50px;
    margin-left: 3%
}
.aboutTitle4{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color:#2f62c9;
    margin-top: 100px;
    margin-left: 3%;
}
.aboutTitle5{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color:#195de6;
    margin-top: 100px;
}

/* Team Block */
.teamMethodBar{
    height: 2px; /* Set the height of the bar */
    background-color: #26d076;
    margin-bottom: 75px;
} 
.teamBlock{
    background-color: #f2f4fc;
    padding-bottom: 50px;
    padding-top: 40px;
    overflow-x: hidden;
}


.teamTitle{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    color:#195de6;
    margin-top: 30px;
}

.teamMethodCon2{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -20px;
}

.teamBody{
    width: 100%;
    text-align: center;
    font-size: 35px;
    margin-top: 5px;
    font-family: 'Playfair Display', serif;
    clear: left;
}


.teamImg {
    align-content: center;
    margin-left: 5%;
    width: 90%;
    /* object-fit: contain; */
}

.teamBio{
    font-size: 25px;
    width: 90%;
    margin-left: 5%;
    font-family: 'Playfair Display', serif;
    text-align: left;
    margin-block-start: 0;
}

.teamPosition{
    font-size: 20px;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    margin-top: -25px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

/* Careers Block */

.careersBlock{
    margin-top: 65px;
    margin-left: 5%;
    margin-right: 5%;
}

.careerListing{
    border-bottom: 2px solid black;
}

.linkedInIcon{
    width: 8%;
    margin-right: 5px;
}

.telegramIcon{
    width: 18%;
    margin-right: 5px;
    margin-bottom: -5px;
}

.emailIcon{
    width: 8%;
    margin-right: 5px;
}

.contactBlock{
    align-items: center;
    margin-left: 40%;
}