/*  NAVBAR */ 
.navbar {
    height: 30px;
    width: 100%;
    position: fixed;
    background-color: gray;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.ul {
    list-style: none
}

.content {
    padding-top: 40px;
}

.button {
    font-size: 24px;
    border: none;
    background-color: gray;
    color: black;
    margin-top: -10px;
}

.buttonList {
    margin-left: 35%;
}

.button:hover {
    color: white;
}


/* HOME */

.homeImg {
    width: 90%;
    height: 400px;
    object-fit: cover;
    margin-left: 75px;
}
.homeMission {
    text-align: left;
    margin-left: 150px;
    float: left;
    width: 40%;
    border-left-style: solid;
    padding-left: 20px;
    font-size: 35px;
}

.homeTitle {
    float: left;
    margin-left: 20%;
    font-size: 40px;
}

.homeMethod {
    text-align: left;
    margin-top: 300px;
    margin-left: 10%;
    width: 50%;
    font-size: 25px;
}

.homeMethod2 {
    text-align: right;
    margin-left: 40%;
    margin-top: 50px;
    width: 50%;
    font-size: 25px;
}