.navbar {
    height: 30px;
    width: 100%;
    position: fixed;
    background-color: gray;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.ul {
    list-style: none
}

.content {
    padding-top: 40px;
}

.button {
    font-size: 24px;
    border: none;
    background-color: gray;
    color: black;
    margin-top: -10px;
}

.button:hover {
    color: white;
}